body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #242424;
}

.images {
    width: 250px;
    height: 350px;
}

button {
    border: none;
    background-color: transparent;
}